<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282297634950-6ji7ls30766c57ro8rgfa3p8ofl1pbqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282297634950-6ji7ls30766c57ro8rgfa3p8ofl1pbqn</string>
	<key>API_KEY</key>
	<string>AIzaSyA5tisvlwLmDHqLdRyls47r5wOEAPVcmTc</string>
	<key>GCM_SENDER_ID</key>
	<string>282297634950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sayan.shop</string>
	<key>PROJECT_ID</key>
	<string>app-shop-sayan</string>
	<key>STORAGE_BUCKET</key>
	<string>app-shop-sayan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282297634950:ios:847f0bd743544d26548107</string>
</dict>
</plist>